<div class="row drag-and-drop-upload-container">

    <div class="center">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
            (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                Drag and drop upload
                <br>
                <button class="browse-files-button" type="button" (click)="openFileSelector()">Browse Files</button>
            </ng-template>
        </ngx-file-drop>
        <div class="upload-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody class="upload-name-style">
                    @for(item of files; track item.relativePath; let i = $index){
                    <tr>
                        <td><strong>{{ item.relativePath }}</strong></td>
                    </tr>
                    }
                    @for(i of imageUrls(); track i){
                    <img [src]="i" alt="item.relativePath">
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>