.drag-and-drop-upload-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.browse-files-button {
    margin-left: 1rem;
}

img {
    object-fit: contain;
    width: 8rem;
    height: 8rem;
    margin: 0.5rem;
}