body {
    font-family: sans-serif
}

.form-select {
    width: auto;
}

.development-mode,
.production-mode {
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
}

.development-mode {
    background-color: blue;
}

.production-mode {
    background-color: red;
}