<h3>Device Settings</h3>
<p>Version: </p>
<p>Switch device off</p>

<div class="accordion" id="device-settings-interval-accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseDisplayedImagesInterval" aria-expanded="true"
                aria-controls="collapseDisplayedImagesInterval">
                Interval settings
            </button>
        </h2>
        <div id="collapseDisplayedImagesInterval" class="accordion-collapse collapse show"
            data-bs-parent="#device-settings-interval-accordion">
            <div class="accordion-body interval-container">

                @if(getChosenImages().length > 0){
                <div class="interval-time">
                    <form (ngSubmit)="onSetTime(intervalTime.value)">
                        <label for="interval-time-input">Interval time (in ms):</label>
                        <br>
                        <input type="number" id="interval-time-input" placeholder="1000" #intervalTime>
                        <button type="submit" class=".btn interval-time-button">Set Time</button>
                    </form>
                </div>

                <br>

                <div class="interval-images">
                    <img [src]="getChosenImages()[currentImageIndex].src"
                        [alt]="getChosenImages()[currentImageIndex].alt">
                    <button type="button" class="stop-diashow-button" (click)="stopDiashow()">Stop diashow</button>
                </div>
                }
                @else {
                <p>No images to display.</p>
                }
            </div>
        </div>
    </div>
</div>


<div class="accordion" id="device-settings-gallery-accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseDisplayedImages" aria-expanded="true" aria-controls="collapseDisplayedImages">
                Chosen displayed images
            </button>
        </h2>

        <div id="collapseDisplayedImages" class="accordion-collapse collapse show"
            data-bs-parent="#device-settings-gallery-accordion">

            @if(imagesLength > 0){

            <div class="accordion-body">
                @for(i of getChosenImages(); track i.src){
                <img [src]="i.src" [alt]="i.alt">
                }
            </div>

            }
            @else {
            <p>No images to display.</p>
            }
        </div>
    </div>
</div>