<div class="container images-container">
  @if(getCurrentUser() !== undefined || authService.isLoginSuccessful){

  <div class="accordion filter-container">
    <div class="accordion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter"
        aria-expanded="true" aria-controls="collapseFilter" title="Use the arrow keys to navigate.">
        Filter
      </button>

      <div id="collapseFilter" class="accordion-collapse collapse show">
        <div class="accordion-body">

          <fieldset>
            <legend class="visually-hidden">Image Filter Options.</legend>

            <div class="form-check">
              <input type="radio" class="form-check-input" id="all-images" name="image-filter" checked
                (change)="filterState.set('allImages')">
              <label class="form-check-label" for="all-images">Show All Images</label>
            </div>

            <div class="form-check">
              <input type="radio" class="form-check-input" id="not-device-images" name="image-filter"
                (change)="filterState.set('notDeviceImages')">
              <label class="form-check-label" for="not-device-images">Show Not Device Images</label>
            </div>

            <div class="form-check">
              <input type="radio" class="form-check-input" id="device-images" name="image-filter"
                (change)="filterState.set('deviceImages')">
              <label class="form-check-label" for="device-images">Show Device Images</label>
            </div>
          </fieldset>

        </div>
      </div>
    </div>
  </div>

  <div aria-live="polite" aria-atomic="true" class="sr-only"></div>

  <div class="images">
    <div class="col-auto text-center">
      @if(isImageLoaded()){
      @if(galleryImagesLength() > 0){
      @for(i of filteredImageStates(); track i.id; let index = $index; let last = $last){

      <img [src]="i.filePath" [alt]="i.fileName" (click)="onHighlightImageSelection(i)"
        (keydown.enter)="onHighlightImageSelection(i); $event.preventDefault()"
        (keydown.space)="onHighlightImageSelection(i); $event.preventDefault()"
        [ngClass]="isImageSelected(i) ? 'image-selected' : 'image-unselected'" [attr.aria-pressed]="isImageSelected(i)"
        tabindex="0" role="button" />
      @if(last){
      <p class="image-number" tabindex="0">Number of images: {{ filteredImagesLength() }} / {{ galleryImagesLength() }}
      </p>

      @if(selectedSrcs().length > 0 ){
      <button class="btn btn-danger" (click)="onRemoveImages()">
        Delete Images ({{ selectedSrcs().length}})
      </button>

      }@else{
      <button class="btn btn-danger" [disabled]="isRemoving() || selectedSrcs().length === 0"
        title="Images will be deleted from the backend, therefore also from the device.">Delete Images</button>
      }

      <button class="btn btn-primary" (click)="onFetchAllImages()">Fetch all images</button>
      <button class="btn btn-primary" (click)="onToggleImageOnDevice()">Add/Remove From Device</button>
      }
      } }@else {
      <p tabindex="0" role="status">No images to display</p>
      <button class="btn btn-primary" (click)="onFetchAllImages()">Fetch all images</button>
      } }@else {
      <img src="../../assets/loading-circle-icon.gif" alt="Images are loading ...." role="img" aria-live="polite" />
      }
    </div>
  </div>
  }@else {
  <p class="not-logged-in">You are not logged in. Please login to be able to do anything_Gallery_View.</p>
  }
</div>