p {
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
}

img {
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  margin: 1rem 1rem;
}

.not-logged-in {
  text-align: center;
  font-weight: bold;
  font-size: large;
  margin-top: 1rem;
  padding: 12rem 0rem;
}

.image-number {
  text-align: center;
  margin-top: 1rem;
}

.image-selected {
  outline: 0.23rem solid green;
}

.image-unselected {
  outline: 0.23rem solid black;
}

.image-delete-selected {
  outline: 0.23rem solid red;
}

button {
  margin: 1rem 1rem;
  font-weight: 600;
}

/* img:focus, TODOD: Add this again or change it, so that select (green) is still visible or that this only counts for keyboards. */
button:focus,
p:focus {
  outline: 0.23rem solid blue;
  outline-offset: 0.2rem;
}

img[role="button"]:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
