<div class="container images-container">

    <p>Filter</p>

    <div class="row images">
        <div class="col-auto text-center">
            @for(i of allImages(); track i.src; let index = $index; let last = $last){
            <img [src]="i.src" [alt]="i.alt ? i.alt : i.relativePath" (click)="onHighlightImageSelection(index)"
                [ngClass]="selectedImages().includes(index) ? 'image-selected' : 'image-unselected' ">
            @if(last){
            <p class="image-number">Number of images: {{allImages().length}}</p>
            <button (click)="onRemoveImage()">Delete</button>
            }
            }

        </div>
    </div>

</div>