<div class="container images-container">

    <p class="image-number">Number of images</p>
    <p>Filter</p>

    <div class="row images">
        <div class="col-6 ">
            <img src="../assets/assassins-creed.jpg" alt="Assassin´s-creed logo.">
            <img src="../assets/car.jpg" alt="Cool looking car.">
            <img src="../assets/guinea-pig.jpg" alt="A Guinea Pig lifting weights.">
            <img src="../assets/hamsterviel.bmp" alt="Hamsterviel laughing evily.">
            <img src="../assets/snowman.JPG" alt="A person standing behind a devil looking snowman.">
        </div>
    </div>

    <div class="row drag-and-drop">
        <p>Drag and drop </p>
    </div>
</div>