p {
    font-family: sans-serif;
}

img {
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    margin: 0rem 1rem;
}

.image-number {
    text-align: center;
    margin-top: 1rem;
}

.image-selected {
    border: 0.14rem solid blue;
}

.image-unselected {
    border: 0.14rem solid black;
}

.image-delete-selected {
    border: 0.14rem solid red;
}

button {
    margin: auto 1rem;
}