<div class="container images-container">

    @if(isLoggedIn()){

    <p>Filter</p>

    <div class="row images">
        <div class="col-auto text-center">
            @for(i of getGalleryImages(); track i.src; let index = $index; let last = $last){
            <img [src]="i.src" [alt]="i.alt ? i.alt : i.relativePath" (click)="onHighlightImageSelection(i.src)"
                [ngClass]="galleryHighlightSrcs().includes(i.src) ? 'image-selected' : 'image-unselected' ">
            @if(last){
            <p class="image-number">Number of images: {{getGalleryImagesLength()}}</p>
            }
            }
            @if(getGalleryImagesLength() === 0){
            <button class="btn btn-primary" (click)="onDownloadAllImages()">Download all images</button>

            }@else {
            <button class="btn btn-danger" (click)="onRemoveImage()">Delete</button>
            <button class="btn btn-primary" (click)="onSelectForDevice()">Select for Device</button>
            <button class="btn btn-primary" (click)="onUploadAllImages()">Upload all images</button>
            <button class="btn btn-primary" (click)="onDownloadAllImages()">Download all images</button>
            }

        </div>
    </div>
    }@else {
    <p class="not-logged-in">You are not logged in. Please login to be able to do anything.</p>
    }
</div>