p {
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
}

img {
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    margin: 1rem 1rem;
}

.not-logged-in {
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-top: 1rem;
    padding: 12rem 0rem;
}

.image-number {
    text-align: center;
    margin-top: 1rem;
}

.image-selected {
    border: 0.14rem solid blue;
}

.image-unselected {
    border: 0.14rem solid black;
}

.image-delete-selected {
    border: 0.14rem solid red;
}


button {
    margin: auto 1rem;
    font-weight: 600;
}