<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<div class="dropdown">
		<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			View
		</button>
		<ul class="dropdown-menu" aria-label="Differnt ways of viewing the website.">
			<li><a class="dropdown-item" [class.active]="selectedView === 'viewAll'" (click)="onAllView()">View all</a></li>
			<li><a class="dropdown-item" [class.active]="selectedView === 'viewPictures'" (click)="onPicturesView()">View pictures</a></li>
			<li><a class="dropdown-item" [class.active]="selectedView === 'viewDragDrop'" (click)="onDragDropView()">View Drag Drop</a></li>
		</ul>
	</div>


	<a href="device-settings">
		<button class="btn">Device</button>
	</a>

	<button class="btn">Add image</button>
</nav>


<main>
	@if(isOnlyPictures){
	<!---<router-outlet />--->
	<app-gallery></app-gallery>

	}@else if(isDragDrop){
	<app-drag-drop-upload></app-drag-drop-upload>

	}@else {
	<app-gallery></app-gallery>
	<app-drag-drop-upload></app-drag-drop-upload>

	}

</main>