<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<div class="dropdown">
		<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			View
		</button>
		<ul class="dropdown-menu" aria-label="Differnt ways of viewing the website.">
			<li><a class="dropdown-item" href="#">View</a></li>
			<li><a class="dropdown-item" href="./app.component.html">All view</a></li>
			<li><a class="dropdown-item" href="./gallery/gallery.component.html">All pictures</a></li>
		</ul>
	</div>


	<a href="device-settings">
		<button class="btn">Device</button>
	</a>

	<button class="btn">Add image</button>
</nav>


<main>
	<app-gallery></app-gallery>
	<app-drag-drop-upload></app-drag-drop-upload>
</main>