<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<div class="dropdown">
		<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			{{getSelectedViewLabel()}}
		</button>
		<ul class="dropdown-menu" aria-label="Differnt ways of viewing the website.">
			<li><a class="dropdown-item" (click)="onAllView()" routerLink="/viewAll">View All</a></li>
			<li><a class="dropdown-item" (click)="onPicturesView()" routerLink="/gallery">View Pictures</a></li>
			<li><a class="dropdown-item" (click)="onDragDropView()" routerLink="/dragDrop">View Drag Drop</a></li>
		</ul>
	</div>


	<a href="device-settings">
		<button class="btn">Device</button>
	</a>

	<button class="btn">Add image</button>
</nav>


<main>
	<router-outlet />
</main>