<nav class="navbar navbar-expand-lg navbar-light bg-light">
    @if(authService.currentUser() !== undefined){

    <button class="btn btn-secondary" routerLink="/gallery">Gallery</button>
    <button class="btn btn-secondary" routerLink="/addImages">Add Images</button>

    <button class="btn btn-secondary" routerLink="/deviceSettings">Device
        Settings</button>
    <button class="btn btn-secondary" [routerLink]="'/logout'">Logout</button>

    }@else {
    <button class="btn btn-secondary" [routerLink]="'/login'">Login</button>
    <button class="btn btn-secondary" [routerLink]="'/register'">Register</button>
    }

</nav>