<div class="row drag-and-drop-upload-container">

    @if(this.authService.currentUser() !== undefined){
    <div class="center">

        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
            (onFileLeave)="fileLeave($event)">

            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <ng-container *ngIf="setOpenFileSelector(openFileSelector)"></ng-container>
                Drag and drop upload
                <button class="browse-files-button" type="button" (click)="openFileSelector()">Browse Files</button>
            </ng-template>

        </ngx-file-drop>

        <div class="upload-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody class="upload-name-style">
                    @for(item of files(); track item.relativePath; let i = $index){
                    <tr>
                        <td><strong>{{ item.relativePath }}</strong></td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    }@else {
    <p class="not-logged-in">You are not logged in. Please login to be able to do anything.</p>
    }
</div>