<div class="row drag-and-drop-upload-container">
   @if(this.authService.currentUser() !== undefined){ 
  <div class="center">
    <!-- @if(isAdding$ | async){
    <img
      src="../../assets/loading-circle-icon.gif"
      alt="Adding image."
      tabindex="0"
    />
    } -->

    <ngx-file-drop
      dropZoneLabel="Drop files here"
      (onFileDrop)="dropped($event)"
      (onFileOver)="fileOver($event)"
      (onFileLeave)="fileLeave($event)"
    >
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <ng-container *ngIf="setOpenFileSelector(openFileSelector)"></ng-container>
        Drag and drop upload
        <button class="browse-files-button" type="button" (click)="openFileSelector()">
          Browse Files
        </button>
      </ng-template>
    </ngx-file-drop>

    <div class="upload-table">
      @if(files().length > 0){

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Preview</th>
          </tr>
        </thead>
        <tbody class="upload-name-style">
          @for(file of files(); track file.relativePath){
          <tr>
            <td>
              <strong>{{ file.relativePath }}</strong>
            </td>

            <td class="image-preview">
              @if(addedImages()){ 
                @if(getImageForFile(file, addedImages()); as image){
              <img class="preview-image" [src]="image.src" [alt]="image.relativePath" />

              }@else {
              <p>Processing image.</p>
              }}
            </td>
          </tr>
          }
        </tbody>
      </table>
      }@else {
      <div class="no-files">
        <p>No files added yet.</p>
      </div>
      }
    </div>
  </div>
  }@else {
  <p class="not-logged-in">
    You are not logged in. Please login to be able to do anything_Drag_Drop.
  </p>
  }
</div>
